{
	"Resources":{
        "DynamoDBAccountsTable": {
          "Type": "AWS::DynamoDB::Table",
          "Properties": {
            "TableName": "Accounts",
            "BillingMode": "PAY_PER_REQUEST",
            "AttributeDefinitions": [
              {
                "AttributeName": "Id",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "Id",
                "KeyType": "HASH"
              }
            ]
          }
        },
        "DynamoDBBudgetsTable": {
          "Type": "AWS::DynamoDB::Table",
          "Properties": {
            "TableName": "Budgets",
            "BillingMode": "PAY_PER_REQUEST",
            "AttributeDefinitions": [
              {
                "AttributeName": "Id",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "Id",
                "KeyType": "HASH"
              }
            ]
          }
        },
        "DynamoDBCategoriesTable": {
          "Type": "AWS::DynamoDB::Table",
          "Properties": {
            "TableName": "Categories",
            "BillingMode": "PAY_PER_REQUEST",
            "AttributeDefinitions": [
              {
                "AttributeName": "Id",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "Id",
                "KeyType": "HASH"
              }
            ]
          }
        },
        "DynamoDBCounterpartiesTable": {
          "Type": "AWS::DynamoDB::Table",
          "Properties": {
            "TableName": "Counterparties",
            "BillingMode": "PAY_PER_REQUEST",
            "AttributeDefinitions": [
              {
                "AttributeName": "Id",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "Id",
                "KeyType": "HASH"
              }
            ]
          }
        },
        "DynamoDBSubcategoriesTable": {
          "Type": "AWS::DynamoDB::Table",
          "Properties": {
            "TableName": "Subcategories",
            "BillingMode": "PAY_PER_REQUEST",
            "AttributeDefinitions": [
              {
                "AttributeName": "Id",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "Id",
                "KeyType": "HASH"
              }
            ]
          }
        },
        "DynamoDBTransactionsTable": {
          "Type": "AWS::DynamoDB::Table",
          "Properties": {
            "TableName": "Transactions",
            "BillingMode": "PAY_PER_REQUEST",
            "AttributeDefinitions": [
              {
                "AttributeName": "Id",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "Id",
                "KeyType": "HASH"
              }
            ]
          }
        }
	}
}